body {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(188, 143, 143, 0.2);
}

.one {
    margin-left: 0;
}

.two {
    margin-left: 250px;
}

.three {
    margin-left: 500px;
}

h1, h3 {
    text-align: center;
    background-color: rgba(138, 43, 226, 0.3);
}

h3 {
    font-style: italic;
    text-decoration: underline;
    color: darkblue;
}

h1 {
    color: black;
}

a:hover {
    color: red;
    transform: scale(2.0)
}